#debug config file
#Wed Oct 31 13:54:16 CET 2012
org.coocox.codebugger.gdbjtag.core.verify=true
org.coocox.codebugger.gdbjtag.core.autoDownload=true
org.coocox.codebugger.gdbjtag.core.defaultAlgorithm=C\:/Program Files (x86)/CooCox/CoIDE/flash/LM3S_256.elf
org.coocox.codebugger.gdbjtag.core.resetMode=SYSRESETREQ
org.coocox.codebugger.gdbjtag.core.clockDiv=500K
org.coocox.codebugger.gdbjtag.core.adapter=Stellaris-ICDI
org.coocox.codebugger.gdbjtag.corerunToMain=true
org.coocox.codebugger.gdbjtag.core.ifCacheRom=true
org.coocox.codebugger.gdbjtag.core.debugMode=JTAG
org.coocox.codebugger.gdbjtag.core.downloadFuction=Erase Effected
